{% extends 'blank.html' %}

{% block titulo %}
    {{ super() }} - Buscas
{% endblock %}

{% block conteudo %}

<h3><span class="badge badge-secondary">Perfis</span></h3>
{% if perfis %}  
  <div class="row">
    {% for perfil in perfis %}
      <div class="col-6 col-md-4" style="padding:15px;">
        <div class="card" style="width: 18rem;">
          <img src="../../static/assets/logos/{{ perfil.logo }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ perfil.nome_fantasia }}</h5>
            <p class="card-text">{{ perfil.interesses }}</p>
            <a href="{{ url_for('perfil', id=perfil.id) }}" class="btn btn-primary">Visitar perfil</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}

<br>

<h3><span class="badge badge-secondary">Postagens</span></h3>
{% if postagens %}  
  {% for postagem in postagens %}    
    <div class="list-group">
      <a href="{{url_for('perfil', id=postagem.perfil_id)}}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ postagem.titulo }} - @{{postagem.perfil.nome_fantasia}}</h5>
          <small>{{ postagem.formatar_data("timeline") }}</small>
        </div>
        <p class="mb-1">{{ postagem.conteudo }}</p>
        <small>{{ postagem.categoria.descricao }}</small>
      </a>
    </div>  
  {% endfor %}
{% endif %}
{% endblock %}