{% extends 'blank.html' %}

{% block titulo %}
    {{ super() }} - Home
{% endblock %}

{% block conteudo %}
    {% for postagem in postagens %}
    <div id="bloco-postagem{{ postagem.id }}" class="row row-timeline">    
        <div class="timeline">
            <div class="timeline-body">
                <div class="timeline-item">
                    <p class="time">{{ postagem.formatar_data() }}</p>
                    <div class="content">
                        <div class="postagem-informacoes">
                            <img class="rounded-circle" src="../../static/assets/logos/{{ postagem.perfil.logo }}" 
                            class="img-rounded" width="80" height="40"> 
                            <a class="postagem-autor" href="{{ url_for('perfil', id=postagem.perfil_id) }}">@{{ postagem.perfil.nome_fantasia }} </a>
                            <div class="categoria">
                                {{ postagem.categoria.descricao }}
                            </div>                            
                        </div> <br>
                        <h3 class="title">{{ postagem.titulo }}</h3>
                        <p>{{ postagem.conteudo }}</p>
                        <div class="actions">
                            <button id="btnComentarPostagem{{ postagem.id }}" class="btn btnComentarPostagem"><i class="fas fa-fw fa-comment-dots"></i></button>
                            {% if postagem.perfil_id == current_user.id %}
                            <button id="btnExcluirPostagem{{ postagem.id }}" class="btn btnExcluirPostagem"><i class="fas fa-fw fa-trash-alt"></i></button>                            
                            {% else %}
                            <!-- <div class="rate">
                                <input type="radio" id="star5" name="rate" value="5">
                                <label for="star5" title="text">5 stars</label>
                                <input type="radio" id="star4" name="rate" value="4">
                                <label for="star4" title="text">4 stars</label>
                                <input type="radio" id="star3" name="rate" value="3">
                                <label for="star3" title="text">3 stars</label>
                                <input type="radio" id="star2" name="rate" value="2">
                                <label for="star2" title="text">2 stars</label>
                                <input type="radio" id="star1" name="rate" value="1">
                                <label for="star1" title="text">1 star</label>
                            </div> -->
                            {% endif %}
                        </div>
                        <div id="comments{{ postagem.id }}" class="comments">
                            <div class="formComments">
                                <input id="perfil_id{{ postagem.id }}" name="perfil_id" type="hidden" value="{{ current_user.id }}">
                                <input id="postagem_id{{ postagem.id }}" name="postagem_id" type="hidden" value="{{ postagem.id }}">
                                <input id="conteudo{{ postagem.id }}" name="conteudo" type="text" placeholder="Escreva um comentário...">
                                <button id="btnEnviarComentario{{ postagem.id }}" class="btn btn-secondary btn-sm btnEnviarComentario" type="submit">
                                    Comentar
                                </button>
                            </div>
                            <div class="all-comments">
                                <div id="list-group{{ postagem.id }}" class="list-group">
                                    {% for comentario in comentarios[postagem.id] %}
                                        <button type="button" class="list-group-item list-group-item-action">
                                            <a href="#">@{{ comentario.perfil.nome_fantasia }}</a> - {{ comentario.conteudo }}                                         
                                        </button>
                                    {% endfor %}
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}