{% extends 'blank.html' %}

{% block titulo %}
    {{ super() }} - Home
{% endblock %}

<!-- Icon Cards-->
{% block conteudo %}
    {% for postagem in postagens %}
    <div class="row row-timeline">    
        <div class="timeline">
            <div class="timeline-body">
                <div class="timeline-item">
                    <p class="time">{{ postagem.formatar_data() }}</p>
                    <div class="content">
                        <h2 class="title">{{ postagem.titulo }}</h2>
                        <p>{{ postagem.conteudo }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}