{% extends 'base.html' %}

{% block conteudo %}
    <form action="" method="POST">
        {{ formulario.csrf_token }}
        <div class="form-group">
            <label>Usuário</label>
            {{ formulario.usuario(class="form-control", placeholder="Informe seu nome de usuário.") }}
        </div>
        <div class="form-group">
            <label>Senha</label>
            {{ formulario.senha(class="form-control", placeholder="Informe uma senha segura.") }}
        </div>
        <div class="checkbox">
            <label>
                {{ formulario.lembrar_senha }} Lembra Senha
            </label>
        </div>
        <button type="submit" class="btn btn-default">Salvar</button>
    </form>
{% endblock %}