{% extends 'externo.html' %}

{% block titulo %}
  {{ super() }} - Registrar
{% endblock %}

{% block conteudo %}

<div class="card card-login mx-auto mt-5">
    <div class="card-header">Login</div>
    <div class="card-body">
       <form action="" method="POST">
          {{ formulario.csrf_token }}
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}          
               <ul class=flashes>
                  {% for category, message in messages %}
                     <li class="{{ category }}">{{ message }}</li>
                  {% endfor %}
               </ul>
            {% endif %}
          {% endwith %}          
          <div class="form-group">
             <div class="form-label-group">
                {{ formulario.cnpj(type="text", id="inputCnpj", class="form-control", required="required", autofocus="autofocus") }}
                {% if formulario.errors.cnpj %}
                <div class="alert alert-danger" role="alert">
                   <ul>
                      {% for e in formulario.errors.cnpj %}
                      <li>
                         {{ e }}
                      </li>
                      {% endfor %}
                   </ul>
                </div>
                {% endif %}              
                <label for="inputCnpj">CNPJ</label>
             </div>
          </div>
          <div class="form-group">
             <div class="form-label-group">
                <!-- <input type="password" id="inputPassword" class="form-control" placeholder="Informe sua senha" required="required"> -->
                {{ formulario.senha(type="password", id="inputSenha", class="form-control", required="required", autofocus="autofocus") }}
                {% if formulario.errors.senha %}
                <div class="alert alert-danger" role="alert">
                   <ul>
                      {% for e in formulario.errors.senha %}
                      <li>{{ e }}</li>
                      {% endfor %}
                   </ul>
                </div>
                {% endif %}
                <label for="inputSenha">Senha</label>
             </div>
          </div>
          <div class="form-group">
             <div class="checkbox">
                <label>
                   <!-- <input type="checkbox" value="remember-me"> --> 
                   {{ formulario.lembrar_senha() }} Lembrar senha
                </label>
             </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
       </form>
       <div class="text-center">
          <a class="d-block small mt-3" href="{{ url_for('registrar') }}">Cadastrar um novo perfil</a>
          <a class="d-block small" href="forgot-password.html">Esqueceu sua senha?</a>
       </div>
    </div>
 </div>
 
 {% endblock %}