{% extends 'interno.html' %}

{% block titulo %}
    {{ super() }} - Perfil
{% endblock %}

{% block conteudo %}
 <!--Main container. Everything must be contained within a top-level container.-->
 <div class="container-fluid">

    <!--First row (only row)-->
    <div class="row extra_margin">

      <!-- Second column - for small and extra-small screens, will use whatever # cols is available -->
      <div class="col-md-12 col-sm-* col-xs-*">

        <!-- Div to center the header image/name/social buttons -->
        <div class="card flex-row">
            <div class="card-header border-0">
                <img id="empresa-logo" src="../../static/assets/logos/{{ perfil.logo }}" alt="">
            </div>
            <div class="card-block px-2">                
                <div class="row row-nome-fantasia">
                    <span id="nome-fantasia">{{ perfil.nome_fantasia }}</span> 
                    {% if perfil.id == current_user.id %}
                    <a href="{{ url_for('perfil_editar') }}" class="btn btn-outline-secondary btn-sm">Editar perfil</a>
                    {% endif %}
                </div>
                
                <div class="row row-contadores">
                    <span><strong>10</strong> postagens </span>
                    <span><strong>10</strong> comentários </span>
                    <span><strong>10</strong> avaliações </span>
                </div>

                <div class="razao-sobre-interesses">
                    <p id="razao">{{ perfil.razao_social }}</p>
                    <p class="card-text">{{ perfil.sobre }}</p>
                    <p class="card-text">
                        {% for interesse in perfil.lista_de_interesses() %}
                            <span class="badge badge-secondary">{{ interesse }}</span>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>

        {% for postagem in postagens %}    
            <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ postagem.titulo }}</h5>
                <small>{{ postagem.formatar_data("timeline") }}</small>
                </div>
                <p class="mb-1">{{ postagem.conteudo }}</p>
                <small>{{ postagem.categoria.descricao }}</small>
            </a>
            </div>  
        {% endfor %}       

      </div> <!-- End column 2 -->

    </div> <!-- End row 1 -->

</div> <!-- End main container -->
{% endblock %}