{% extends 'interno.html' %}

{% block titulo %}
    {{ super() }} - Perfil
{% endblock %}

{% block conteudo %}
 <!--Main container. Everything must be contained within a top-level container.-->
 <div class="container-fluid">

    <!--First row (only row)-->
    <div class="row extra_margin">

      <!-- Second column - for small and extra-small screens, will use whatever # cols is available -->
      <div class="col-md-12 col-sm-* col-xs-*">

        <!-- Div to center the header image/name/social buttons -->
        <div class="card flex-row">
            <div class="card-header border-0">
                <img src="//placehold.it/200" alt="">
            </div>
            <div class="card-block px-2">
                <p>
                    {{ perfil.nome_fantasia }} 
                    <button type="button" class="btn btn-outline-secondary btn-sm">Editar perfil</button>                    
                </p>
                <p>                    
                    <button type="button" class="btn btn-outline-secondary">
                        <strong>10</strong> postagens
                    </button>
                    <button type="button" class="btn btn-outline-secondary">
                        <strong>10</strong> comentários
                    </button>
                    <button type="button" class="btn btn-outline-secondary">
                        <strong>10</strong> avaliações
                    </button>                    
                </p>
                {{ perfil.razao_social }} <br>
                <p class="card-text">{{ perfil.sobre }}</p>
                <p class="card-text">{{ perfil.interesses }}</p>
            </div>
        </div>

        {% for postagem in postagens %}    
            <div class="list-group">
            <a href="{{url_for('perfil', id=postagem.perfil_id)}}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ postagem.titulo }}</h5>
                <small>{{ postagem.formatar_data("timeline") }}</small>
                </div>
                <p class="mb-1">{{ postagem.conteudo }}</p>
                <small>{{ postagem.categoria.descricao }}</small>
            </a>
            </div>  
        {% endfor %}       

      </div> <!-- End column 2 -->

    </div> <!-- End row 1 -->

</div> <!-- End main container -->
{% endblock %}