{% extends 'interno.html' %}

{% block titulo %}
    {{ super() }} - Ranking
{% endblock %}

{% block conteudo %}
<div class="row">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Perfil</th>
          <th scope="col">Título</th>
          <th scope="col">Data</th>
          <th scope="col">Média</th>
        </tr>
      </thead>
      <tbody>
        {% for postagem in postagens %}
          <tr>
            {% if loop.index == 1 %}
            <th scope="row">#{{ loop.index }} <i class="fas fa-trophy"></i></th>
            {% elif loop.index == 2 %}
            <th scope="row">#{{ loop.index }} <i class="fas fa-award"></i></th>
            {% elif loop.index == 3 %}
            <th scope="row">#{{ loop.index }} <i class="fas fa-medal"></i></th>
            {% else %}
            <th scope="row">#{{ loop.index }} </th>
            {% endif %}
    
            <td><a href="{{ url_for('perfil', id=postagem.perfil.id) }}">@{{ postagem.perfil.nome_fantasia }}</a></td>
            <td>{{ postagem.titulo }}</td>
            <td>{{ postagem.formatar_data("brasileiro") }}</td>
            <td>
                {% if postagem.media_avaliacao %}
                <button type="button" class="btn btn-primary btn-sm">{{ postagem.media_avaliacao }}</button>
                {% else %}
                <button type="button" class="btn btn-primary btn-sm">0.0</button>
                {% endif %}
            </tr> 
        {% endfor %}
      </tbody>
  </table>    
</div>

{% if podium|length >= 3 %}
<div id="podium-box" class="row" style="height: 300px">
  <div class="col-md-4 step-container m-0 p-0">
    <div>
      <a href="{{ url_for('perfil', id=podium[1].perfil.id) }}">@{{ podium[1].perfil.nome_fantasia }}</a> - {{ podium[1].titulo }}
    </div>
    <div id="second-step" class="bg-light-grey step centerBoth podium-number">
      #2
    </div>
  </div>
  <div class="col-md-4 step-container m-0 p-0">
    <div>
      <a href="{{ url_for('perfil', id=podium[0].perfil.id) }}">@{{ podium[0].perfil.nome_fantasia }}</a> - {{ podium[0].titulo }}
    </div>
    <div id="first-step" class="bg-light-grey step centerBoth podium-number">
      #1
    </div>
  </div>
  <div class="col-md-4 step-container m-0 p-0">
    <div>
      <a href="{{ url_for('perfil', id=podium[2].perfil.id) }}">@{{ podium[2].perfil.nome_fantasia }}</a> - {{ podium[2].titulo }}
    </div>
    <div id="third-step" class="bg-light-grey step centerBoth podium-number">
      #3
    </div>
  </div>
</div>
{% endif %}
{% endblock %}