{% if not editar %}
   {% extends 'externo.html' %}
{% else %}
   {% extends 'interno.html' %}
{% endif %}

{% block titulo %}
  {{ super() }} - Registrar
{% endblock %}

{% block conteudo %}

<div class="card card-register mx-auto mt-5">
    <div class="card-header">Registre uma conta</div>
    <div class="card-body">
       <form action="" method="POST" enctype="multipart/form-data">
          {{ formulario.csrf_token }}
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <div class="alert alert-warning" role="alert">
             <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
             </ul>
          </div>
          {% endif %}
          {% endwith %}
          {{ formulario.id(id="inputId") }}
          <div class="form-group">
             <div class="form-label-group">
                {{ formulario.razao_social(id="inputRazaoSocial", class="form-control", placeholder="Razão social", required="required") }}
                <label for="inputRazaoSocial">Razão social</label>
             </div>
          </div>
          <div class="form-group">
             <div class="form-label-group">
                {{ formulario.nome_fantasia(id="inputNomeFantasia", class="form-control", placeholder="Nome fantasia", required="required") }}
                <label for="inputNomeFantasia">Nome fantasia</label>
             </div>
          </div>
          <div class="form-group">
             <div class="form-label-group">
                {{ formulario.cnpj(id="inputCnpj", class="form-control", placeholder="CNPJ", required="required") }}
                <label for="inputCnpj">CNPJ</label>
             </div>
          </div>
          <div class="form-group">
             <div class="form-label-group">
                {{ formulario.logradouro(id="inputLogradouro", class="form-control", placeholder="Logradouro", required="required") }}
                <label for="inputLogradouro">Logradouro</label>
             </div>
          </div>
          <div class="form-group">
             <div class="form-row">
                <div class="col-md-6">
                   <div class="form-label-group">
                      {{ formulario.complemento(id="inputComplemento", class="form-control", placeholder="Complemento") }}
                      <label for="inputComplemento">Complemento</label>
                   </div>
                </div>
                <div class="col-md-6">
                   <div class="form-label-group">
                      {{ formulario.numero(id="inputNumero", class="form-control", placeholder="Número", required="required") }}
                      <label for="inputNumero">Número</label>
                   </div>
                </div>
             </div>
          </div>
          <div class="form-group">
             <div class="form-row">
                <div class="col-md-6">
                   <div class="form-label-group">
                      {{ formulario.bairro(id="inputBairro", class="form-control", placeholder="Bairro", required="required") }}
                      <label for="inputBairro">Bairro</label>
                   </div>
                </div>
                <div class="col-md-6">
                   <div class="form-label-group">
                      {{ formulario.cep(id="inputCep", class="form-control", placeholder="CEP", required="required") }}
                      <label for="inputCep">CEP</label>
                   </div>
                </div>
             </div>
          </div>
          <div class="form-group">
             <div class="form-label-group">
                {{ formulario.cidade_id(id="selectCidadeId", class="form-control", placeholder="Selecione sua cidade.", required="required") }}
             </div>
          </div>
          <div class="form-group">
             <div class="form-label-group">
                {{ formulario.logo(id="fileLogo", class="form-control") }}
                <label for="fileLogo">Logo</label>
             </div>
          </div>
          <div class="form-group">
             <div class="form-label-group">
                {{ formulario.sobre(id="textAreaSobre", class="form-control", required="required") }}              
             </div>
             <span class="help-block"> Conte-nos um pouco sobre a sua empresa. </span>            
          </div>
          <div class="form-group">
             <div class="form-label-group tag-container">
                {{ formulario.interesses(id="inputInteresses") }}              
             </div>
             <span class="help-block"> Gostariamos de saber seus interesses (Ex: Tecnologia). </span>                        
          </div>
          {{ formulario.tags_digitadas(id="inputTagsDigitadas") }}
          <div class="form-group">
             <div class="form-row">
                <div class="col-md-6">
                   <div class="form-label-group">
                      {{ formulario.senha(id="inputSenha", class="form-control", placeholder="Senha", required="required") }}
                      <label for="inputSenha">Senha</label>
                   </div>
                </div>
                <div class="col-md-6">
                   <div class="form-label-group">
                      {{ formulario.senha_confirmar(id="inputSenhaConfirmar", class="form-control", placeholder="Confirme a senha", required="required") }}
                      <label for="inputSenhaConfirmar">Confirme a senha</label>
                   </div>
                </div>
             </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">{{ 'Gravar' if editar else 'Registrar' }}</button>
       </form>
       {% if not editar %}
       <div class="text-center">
          <a class="d-block small mt-3" href="{{ url_for('login') }}">Já possuo uma conta</a>
       </div>
       {% endif %}
    </div>
 </div>
 
 {% endblock %}