{% extends 'interno.html' %}

{% block titulo %}
    {{ super() }} - Cadastro Sugestão Categoria
{% endblock %}

{% block conteudo %}
<div class="card card-register mx-auto mt-5">
    <div class="card-header">Sugerir uma nova categoria</div>
    <div class="card-body">
        <form action="" method="POST">
            {{ formulario.csrf_token }}
            
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}          
               <ul class=flashes>
                  {% for category, message in messages %}
                     <li class="{{ category }}">{{ message }}</li>
                  {% endfor %}
               </ul>
            {% endif %}
            {% endwith %}
            
            <div class="form-group">
                <div class="form-label-group">
                    {{ formulario.descricao(id="inputDescricao", class="form-control", placeholder="", required="required") }}
                    <label for="inputDescricao">Descrição</label>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Sugerir</button>
        </form>
    </div>
</div>
{% endblock %}